{% extends "market/base.html" %}
{% block content %}
    <h1>book_detail</h1>
    <a href="{% url 'list' %}">홈으로</a>
    <br>

    <a class="badge badge-secondary" href="{% url 'book_edit' post_id=book.pk %}">수정</a>
    <br>
    <a class="badge badge-secodary" href="{% url 'book_delete' post_id=book.pk %}">삭제</a>
    <br>
    가격 : {{ book.price }}<br>
    {% comment %} 사진 : <img src="{{product.image.url}}" alt="" ><br> {% endcomment %}
    제목 : {{ book.title }}<br>
    내용 : {{ book.text }}<br>
    상태 : {{ book.status_content }}<br>
    번호 : {{ book.number }}<br>
    soldout : {{ book.soldout }}<br>
    edition : {{ book.edition }}<br>
    author : {{ book.author }}<br>
    {% for image in book.bookimages_set.all %}
        <button onclick="
        var image = '{{ image.images.url }}';
        test(image);"><img src="{{ image.images.url }}" height=100 width=100/></button>
    {% endfor %}
{% comment %} 교환 {% endcomment %}
    <div id="main-image">

    </div>


    <div id="commnnetBlock">
        <div id="commentList">
            {% for comment in book.bookcomment_set.all %}
                {% if comment.recomment == NULL %}
                    {{ comment.text }}<button id="{{comment.id}} reComment" onclick="
                    addReCommentForm('{{comment.id}}', 'book');"
                    >대댓글 달기</button></div><br>
                    {% for recomment in comment.comment_set.all %}
                    └ {{ recomment.text }}<br>
                    {% endfor %}
                <div id="{{ comment.id }}recomment"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="comments">
        <form action="{% url 'book_addcomment' book.id %}" id="commentForm" method="POST">
        {% csrf_token %}
        {{ form }}
        {% comment %} <button class="addComment">댓글쓰기</button> {% endcomment %}
        <input type="submit" value="댓글쓰기">
        </form>
    </div>

    <script type="text/javascript">
        function test(image) {                              
            document.getElementById('main-image').innerHTML = ''; //span같은 태그 밸류 삭제 코드
            var str = ('<img src="'+image+'" width=500 height=500 />');
            $('#main-image').append(str);
        }
    </script>
    
{% endblock %}
