{% extends "market/base.html" %}
{% block content %}
    <div class="container">
        <h1>list</h1>
        <h2>product</h2>
        <a href="{% url 'product_new'%}" class="top-menu">물품 등록</a>
        {% for product in products.all %}
                <h2><a href="/market/product/{{product.id}}/hit">{{product.title}}</a>[{{product.hit}}]</h2>
        {% endfor %}

        <h2>book</h2>
        <a href="{% url 'book_new'%}" class="top-menu">책 등록</a>
        {% for book in books.all %}
            <h2><a href="/market/book/{{book.id}}/hit">{{book.title}}</a>[{{book.hit}}]</h2>
        {% endfor %}

        <h2>Room</h2>
        <a href="{% url 'room_new'%}" class="top-menu">방 등록</a>
        {% for room in rooms.all %}
            <h2><a href="/market/room/{{room.id}}/hit">{{room.title}}</a>[{{room.hit}}]</h2>
        {% endfor %}

{% comment %} search {% endcomment %}
    {% comment %} <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <input id='search' name='search'>
        <input type="submit" value='검색'>
    </form> {% endcomment %}
    <form action="{% url 'search' %}"method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="brn brn-secondary">검색</button>
    </form>
        <h2>search 확인</h2>
        {% for post in posts %}
            <h2><a href="/market/{{post.category}}/{{room.id}}/hit">{{post.title}}</a>[{{post.hit}}]</h2>
        {% endfor %}
    </div>
{% endblock %}