{% extends "market/base.html" %}
{% block content %}
    <h1>room_detail</h1>
    <a href="{% url 'list' %}">홈으로</a>
    <br>

    <a class="badge badge-secondary" href="{% url 'room_edit' post_id=room.pk %}">수정</a>
    <br>
    <a class="badge badge-secodary" href="{% url 'room_delete' post_id=room.pk %}">삭제</a>
    <br>

    가격 : {{ room.price }}<br>
    {% comment %} 사진 : <img src="{{product.image.url}}" alt="" ><br> {% endcomment %}
    제목 : {{ room.title }}<br>
    내용 : {{ room.text }}<br>
    상태 : {{ room.status_content }}<br>
    번호 : {{ room.number }}<br>
    soldout : {{ room.soldout }}<br>
    조회수 : {{ room.hit }}
    위치 : {{ room.position }}

    <div id="commnnetRoom">
        <div id="commentList">
            {% for comment in room.roomcomment_set.all %}
                {% if comment.recomment == NULL %}
                    {{ comment.text }}<button id="{{comment.id}} reComment" onclick="
                    addReCommentForm('{{comment.id}}', 'room');"
                    >대댓글 달기</button></div><br>
                    {% for recomment in comment.comment_set.all %}
                    └ {{ recomment.text }}<br>
                    {% endfor %}
                <div id="{{ comment.id }}recomment"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="comments">
        <form action="{% url 'room_addcomment' room.id %}" id="commentForm" method="POST">
        {% csrf_token %}
        {{ form }}
        {% comment %} <button class="addComment">댓글쓰기</button> {% endcomment %}
        <input type="submit" value="댓글쓰기">
        </form>
    </div>
{% endblock %}

 